body {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
}

.maindiv {
    width: 90%;
    height: 80%;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.75);
}

.message {
    width: 95%;
    height: 50px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 98%;
    border-radius: 30px;
    transform: translate(-50%, -90%);
    background-color: rgba(80, 80, 80, 0.3);
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.messagescontain {
    width: 80%;
    height: 60%;
    background-color: rgb(19, 19, 19);
    border-radius: 25px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    overflow-y: auto;
    overflow-x: hidden;
}

.ms1 {
    color: white;
    font-size: 20px;
    margin-left: 47px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ms2 {
    color: white;
    font-size: 15px;
    margin-left: 47px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 15px;
}

.timestamp {
    position: relative;
    opacity: 0.50;
    font-size: 10px;
    bottom: 25px;
    left: 10px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.align-start {
    margin-top: 30%;
}

.username {
    position: relative;
    background-color: rgb(20, 20, 20);
    border-width: 2px;
    height: 20px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.userselect {
    width: 500px;
    height: 140px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.usercont {
    background-color: rgb(50, 50, 50);
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-radius: 6px;
    color: white;
}

.messagething {
    background-color: rgb(8, 8, 8);
    width: fit-content;
    margin-left: 10px;
    margin-top: auto;
    margin-top: 17px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.pfp {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.user {
    width: fit-content;
    height: 50px;
    background-color: rgba(80, 80, 80, 0.3);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
}

.userimg {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 2px;
    border-radius: 10px;
}

.user-username {
    position: relative;
    margin-left: 55px;
    margin-right: 10px;
    bottom: 70px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-options {
    position: relative;
    width: 18px;
    border-radius: 6px;
    bottom: 118px;
    right: -89%;
}

.signout {
    width: 70px;
    border-radius: 100px;
    position: relative;
    margin-left: 110%;
    bottom: 123px;
}


.notify {
    width: 120px;
    border-radius: 100px;
    position: absolute;
    margin-left: 150%;
    bottom: 9px;
}

.settings {
    width: 110px;
    border-radius: 100px;
    position: absolute;
    margin-left: 220%;
    bottom: 9px;
}

button {
    position: relative;
    color: white;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    padding: 5px;
    bottom: 10px;
}
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
  }
  .loading-anim {
    width: 50vh;
    height: 50vh;
  }
  .load-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .redir {
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    width: auto;
  }
  .redir2 {
    color: white;
    position: relative;
    transform: translate(50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    right: 50%;
    margin-right: 500px;
    width: auto;
    opacity: 0;
    bottom: 70px;
    filter: blur(10px)
}
  .dms-button {
    position: absolute;
    right: 190px;
  }
  .buttons-pa {
    position: relative;
  }
  .pa-yes {
    background-color: rgb(0, 250, 70);
    width: 145px;
    border-width: 0px;
    border-radius: 50px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: rgb(200, 200, 200);
    margin: 5px;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
  }
  .pa-no:hover {
    background-color: rgb(250, 0, 30)
  }
  .pa-yes:hover {
    background-color: rgb(0, 250, 30)
  }
  .pa-no {
    background-color: rgb(250, 0, 60);
    width: 145px;
    border-width: 0px;
    border-radius: 50px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: rgb(200, 200, 200);
    margin: 5px;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
  }
  @keyframes up {
    0% {}
    100% {
        translate: 500px;
        filter: blur(10px);
        opacity: 0;
    }
}
@keyframes in {
    0% {}
    100% {
        translate: 500px;
        filter: blur(0px);
        opacity: 1;
    }
}
.user-button {
    position: absolute;
    right: 240px;
}


.birthday {
    width: fit-content;
    height: 30px;
    padding-right: 40px;
    background-color: black;
    position: absolute;
    border-radius: 50px;
    left: 100px;
    top: 20px;
    font-size: 16px;
}
.birthday-wishing {
    position: relative;
    bottom: 50px;
    left: 36px;
    color: white;
}
.birthday-balloons {
    width: 35px;
    height: 35px;
    position: relative;
    bottom: 3px;
}