body {
    width: 99vw;
    height: 99vh;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu {
    width: 15vw;
    height: 95vh;
    background-color: rgb(17, 17, 17);
    top: 50%;
    position: fixed;
    transform: translate(0, -50%);
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 8px 4px #000000; 
    box-shadow: 0px 0px 8px 4px #000000;
    border-radius: 10px;
    border: none;
}
.menu-user {
    width: 90%;
    height: 20%;
    background-color: rgb(10, 10, 10);
    left: 50%;
    position: relative;
    transform: translate(-50%);
    top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 4px #000000; 
    box-shadow: 0px 0px 8px 4px #000000;
    text-align: center;
    overflow: hidden;
}
.menu-user-img {
    width: 40%;
    height: fit-content;
    position: relative;
    top: 5%;
    border-radius: 10px;
}
.menu-user-name {
    position: relative;
    top: -4%;
    font-size: 130%;
}
.menu-button {
    width: 100%;
    position: relative;
    height: 5%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 100%);
    border: none;
    color: white;
    font-size: 90%;
    margin-top: 3px;
    cursor: pointer;
}
.menu-button:hover {
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%);
}


.contain {
    background-color: rgb(15, 15, 15);
    width: 80vw;
    height: 82vh;
    position: absolute;
    left: 18vw;
    top: 4.2vh;
    border: none;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contain-message {
    position: fixed;
    top: 87%;
    width: 64%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    font-size: 100%;
    padding-left: 10px;
    color: white;
}
.contain-sendoptions {
    background-color: rgb(20, 20, 20);
    width: 14%;
    height: 10%;
    position: fixed;
    left: 84%;
    top: 87%;
    border-radius: 30px;
    overflow: hidden;
}
.contain-sendoptions-img {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.contain-sendoptions-img-circle {
    height: 90%;
    width: 30%;
    background-color: #000000;
    border-radius: 100px;
    position: relative;
    top: 50%;
    left: 3px;
    transform: translate(0, -50%);
    cursor: pointer;
}
.contain-sendoptions-img-circle2 {
    height: 90%;
    width: 30%;
    background-color: #000000;
    border-radius: 100px;
    position: relative;
    left: 35%;
    transform: translate(0, -95%);
    cursor: pointer;
}

.message-container {
    display: flex;
    width: fit-content;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 8px;
    background-color: rgb(18, 18, 18);
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.message-content {
    flex-grow: 1;
    padding: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.username {
    font-weight: bold;
    color: white;
}

.timestamp {
    font-size: 12px;
    color: white;
    padding-left: 10px;
}

.message-text {
    margin-top: 8px;
    color: white;
}



.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
  }
  .loading-anim {
    width: 50vh;
    height: 50vh;
  }
  .load-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .redir {
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    width: auto;
  }
  .redir2 {
    color: white;
    position: relative;
    transform: translate(50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    right: 50%;
    margin-right: 500px;
    width: auto;
    opacity: 0;
    bottom: 70px;
    filter: blur(10px)
}
 .buttons-pa {
    position: relative;
  }
  .pa-yes {
    background-color: rgb(0, 250, 70);
    width: 145px;
    border-width: 0px;
    border-radius: 50px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: rgb(200, 200, 200);
    margin: 5px;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
  }
  .pa-no:hover {
    background-color: rgb(250, 0, 30)
  }
  .pa-yes:hover {
    background-color: rgb(0, 250, 30)
  }
  .pa-no {
    background-color: rgb(250, 0, 60);
    width: 145px;
    border-width: 0px;
    border-radius: 50px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    color: rgb(200, 200, 200);
    margin: 5px;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
  }
  @keyframes up {
    0% {}
    100% {
        translate: 500px;
        filter: blur(10px);
        opacity: 0;
    }
}
@keyframes in {
    0% {}
    100% {
        translate: 500px;
        filter: blur(0px);
        opacity: 1;
    }
}


.userselect {
    width: 500px;
    height: 140px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    right: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    right: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.img {
    width: 70vh;
    height: 20vh;
    background-color: rgb(13, 13, 13);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.img-span {
    font-size: 200%;
    position: relative;
    top: 20%;
}
.img-url {
    position: relative;
    width: 50%;
    height: 16px;
    top: 20%;
    background-color: rgb(5, 5, 5);
    border: none;
    color: white;
    border-radius: 5px;
}
.img-message {
    width: 10%;
    height: fit-content;
    border-radius: 5px;
}
.img-confirm {
    top: 25%;
    position: relative;
    background-color: rgb(5, 5, 5);
    border: none;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    color: white;
}