body {
    /*background-image: url('/img/login/background.gif');*/
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(55, 55, 55, 0.3);
    border-color: rgb(87, 87, 87);
    border-width: 2px;
    border-style: outset;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-style: double;
}

.login-box {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.submit {
    width: 100%;
    height: 40px;
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit:hover {
    background: #0056b3;
}

.error-message {
    color: rgb(255, 0, 0);
    margin-top: 7px;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(128, 0, 0, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;   
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  }
  
  .form-group {
    position:relative;  
  
    & + .form-group {
      margin-top: -10px;
    }
  }
  
  .form-label {
    position: absolute;
    left: 0;
    top: 24px;
    color: #999;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    left: 12px;
  }
  
  .focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
  }
  
  .form-input {
    width: 93.5%;
    height: 40px;
    background: rgba(55, 55, 55, 0.5);
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(87, 87, 87);
    margin-bottom: 15px;
    padding: 9px;
    color: #fff;
    font-size: 16px;
    border-style: double;
  }
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
}
.loading-anim {
  width: 50vh;
  height: 50vh;
}
.load-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.redir {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}