body {
    background-color: rgb(10, 10, 10);
}
.user-main {
    width: fit-content;
    height: 100px;
    background-color: rgb(30, 30, 30);
    position: absolute;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
}
.user-pfp {
    width: 80px;
    height: 80px;
    padding: 9px;
    border-radius: 20px;
}
.user-name {
    padding-left: 100px;
    margin-right: 10px;
    bottom: 104px;
    position: relative;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}
.options {
    width: 70%;
    height: 70%;
    background-color: rgb(30, 30, 30);
    position: absolute;
    border-radius: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    top: 50%;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    overflow-y: auto;
    text-align: center;
}
h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}
.password-change {
    width: 400px;
    height: 150px;
    background-color: rgb(25, 25, 25);
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    text-align: center;
}
.pfp-change {
    width: 400px;
    height: 110px;
    background-color: rgb(25, 25, 25);
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    text-align: center;
}
.cp-head {
    font-size: 30px;
    position: relative;
    top: 5px;
}
input {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 3px;
}
.cp-confirm {
    margin-top: 5px;
    width: 70px;
    height: 22px;
    color: black;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
}