body {
    background-color: rgb(19, 19, 19);
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.question-mark {
    width: 30vh;
    height: 30vh;
    border-radius: 100px;
    background-color: rgb(10, 10, 10);
    box-shadow: 1px 1px 13px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 13px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 13px 6px rgba(0,0,0,0.75);
    left: 50%;
    position: relative;
    transform: translate(-50%);
}
.question-img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.align {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    align-content: center;
    justify-content: center;
}
h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
a {
    color: white;
}
p {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}