body {
    background-color: rgb(18, 18, 18);
    height: 100vh;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.user {
    width: 40vh;
    height: 40vh;
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
}
.user-img {
    width: 35vh;
    height: 35vh;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.user-type {
    width: 8vh;
    height: 8vh;
    border-radius: 100px;
    background-color: rgb(20, 20, 20);
    left: 85%;
    bottom: 10px;
    position: relative;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    border-width: 0px;
}
.user-type-img {
    width: 90%;
    height: 90%;
    border-radius: 100px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.user-name {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}
.stats {
    width: 15em;
    height: fit-content;
    background-color: rgb(10, 10, 10);
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 65vh;
    border-radius: 30px;
    font-size: 200%;
    padding-left: 10vh;
    padding-right: 10vh;
}
.stats-div {
    width: 90%;
    height: 10px;
    background-color: rgb(50, 50, 50);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    border-radius: 100px;
}
a {
    color: white;
}
.form-group {
    position:relative;  
    left: 50%;
    transform: translate(-50%);
    top: 2vh;
  
    & + .form-group {
      margin-top: -10px;
    }
  }
  .form-label {
    position: absolute;
    left: 0;
    top: 24px;
    color: #999;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    left: 12px;
  }
  
  .focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
  }
  .form-input {
    width: 93.5%;
    height: 40px;
    background: rgb(30, 30, 30);
    border-width: 2px;
    border-radius: 10px;
    border-color: #ffffff85;
    margin-bottom: 15px;
    padding: 9px;
    color: #fff;
    font-size: 16px;
  }
  .form-search {
    width: 18%;
    height: 7%;
    position: absolute;
    border-radius: 100px;
    left: 80%;
    bottom: 568px;
    cursor: pointer;
  }
  .stats-bio {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
    position: relative;
    bottom: 30px;
    border-radius: 20px;
    font-weight: bolder;
    padding: 1px;
  }
  .stats-since {
    position: relative;
    bottom: 40px;
  }
  .stats-edit{
    width: 50px;
    height: 40px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    left: 50%;
    top: 30px;
  }
  .edit {
    width: 100vh;
    height: fit-content;
    padding-bottom: 30px;
    background-color: rgb(10, 10, 10);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: -1px 0px 13px 6px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 0px 13px 6px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 13px 6px rgba(0,0,0,1);
    text-align: center;
    font-size: 25px;
  }
  .edit-pass {
    width: 35%;
    height: 3.5%;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    border-width: 2px;
    border-color: #fff;
    text-align: center;
    position: relative;
  }
  .edit-bio {
    width: 50%;
    height: 10%;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    border-width: 2px;
    border-color: #fff;
    text-align: center;
    position: relative;
    margin-top: 10px;
  }
  .edit-finish {
    width: 100px;
    height: 40px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    font-size: 18px;
    position: relative;
  }